@media (min-width: 1280px) {
  .link-building-hero {
    background-image: url("../../../images/Link-building-hero-desktop.svg") !important;
    height: 500px !important;
    background-size: 500px !important;
    background-position: left bottom !important;
    background-repeat: no-repeat !important;
  }
  .type-Of-Link-Building-Section {
    padding-top: 50px;
    padding-bottom: 17px;
  }
  .type-link-building-card-container {
    column-gap: 60px;
    margin-top: 60px;
  }
  .type-link-building-card {
    padding: 24px;
    border-radius: 16px;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .link-building-hero {
    background-image: url("../../../images/Link-building-hero-desktop.svg") !important;
    height: 500px !important;
    background-size: 500px;
    background-position: left 72px bottom;
    background-repeat: no-repeat;
    padding: 48px 72px;
  }
  .type-Of-Link-Building-Section {
    padding-top: 50px;
    padding-bottom: 17px;
  }
  .type-link-building-card-container {
    column-gap: 48px;
    margin-top: 60px;
  }
  .type-link-building-card {
    padding: 24px;
    border-radius: 16px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .link-building-hero {
    padding: 59px 32px 82px 32px;
  }
  .type-link-building-card {
    padding: 24px;
    border-radius: 16px;
  }
  .type-link-building-card-container {
    padding-bottom: 30px;
  }
}

@media (max-width: 600px) {
  .link-building-hero {
    padding: 59px 24px 82px 24px;
  }
  .type-link-building-card {
    padding: 15px;
    border-radius: 8px;
  }
  .type-link-building-card-container {
    padding-bottom: 30px;
  }
}
