@media (min-width: 1280px) {
  .website-design-hero {
    background-image: url("../../../images/web-design-hero.png") !important;
    height: 500px !important;
    background-size: 500px !important;
    background-position: left bottom !important;
    background-repeat: no-repeat !important;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .website-design-hero {
    background-image: url("../../../images/web-design-hero.png") !important;
    height: 500px !important;
    background-size: 450px;
    background-position: left 72px bottom;
    background-repeat: no-repeat;
    padding: 48px 72px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  .website-design-hero {
    background-image: url("../../../images/web-design-hero.png") !important;
    height: 400px !important;
    background-size: 300px;
    background-position: left 42px bottom;
    background-repeat: no-repeat;
    padding: 48px 32px;
  }
}

@media (max-width: 600px) {
  .website-design-hero {
  
  }
}
