
@media (max-width: 767px){


  .contact-us-hero {
    background-image: url("../../../images/message.svg") !important;
    background-size: 50px !important;
    background-position: right 40px top 100px !important;
    background-repeat: no-repeat !important;
    padding: 48px 42px !important;
  }

}

@media (min-width: 768px) and (max-width: 959px){


  .contact-us-hero {
    background-image: url("../../../images/message.svg") !important;
    background-size: 80px !important;
    background-position: right 30px top 100px !important;
    background-repeat: no-repeat !important;
    padding: 48px 42px !important;
  }

}

@media (min-width: 960px) and (max-width: 1179px) {


  .contact-us-hero {
    background-image: url("../../../images/message.svg") !important;
    background-size: 350px !important;
    height: 500px !important;
    background-position: right 60px top 100px !important;
    background-repeat: no-repeat !important;
  }

}

@media (min-width: 1280px) {

  .contact-us-hero {
    background-image: url("../../../images/message.svg") !important;
    background-size: 350px !important;
    height: 500px !important;
    background-position: right 60px top 100px !important;
    background-repeat: no-repeat !important;
  }

}

